<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <simplepopup>
            <general>
                <enable>0</enable>
                <cookie_timeout>604800</cookie_timeout>
            </general>
        </simplepopup>
    </default>
</config>
